<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Son Depremler Api</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://blackrockdigital.github.io/startbootstrap-resume/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Türkiye Son Depremler</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="http://www.advanceuk.org/uploaded_files/1365/images/generic-home-scheme-logo.png" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">ANASAYFA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">KULLANIM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">ÖRNEKLER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">TEKNOLOJİLER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">VERİ KAYNAĞI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">İLETİŞİM</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">TÜRKİYE Son Depremler
                    <span class="text-primary">Api</span>
                </h1>
                <div class="subheading mb-5">Açık Kaynak Kodlu Proje ·
                    <a href="#">Kodlara Erişin</a>
                </div>
                <p class="lead mb-5">
                    Türkiye'de gerçekleşen son 500 deprem bilgisinin Kandilli Rasathanesi'nin internet sitesinden
                    çekilerek oluşturulmuş rest api servisidir. Veriler json formatında çıktı olarak alınabilir ve
                    üzerlerinde bütün filtreleme işlemleri uygulanabilir.
                    <br /><br />
                    Filteleme özellikleri: başlangıç ve bitiş tarihi, başlangıç ve bitiş saati, enlem aralığı, boylam
                    aralığı, derinlik, buyukluk ve şehir.
                    <br /><br />
                    <b>Hızlı Kullanım :</b> www.testsite.heroku.app/api
                </p>
                <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Kullanım</h2>

                <!-- API KULLANIM -->
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h5 class="mb-0">HIZLI KULLANIM - SON 500 DEPREM BİLGİSİ</h5>
                        <div class="mb-3"><b>Url : </b>/api</div>
                        <p>
                            Türkiye'de gerçekleşen son 500 deprem bilgisini getirir.
                        </p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">Endpoint - 1</span>
                    </div>
                </div>

                <!-- API KULLANIM -->
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="resume-content">
                            <h5 class="mb-0">HIZLI KULLANIM - SON 500 DEPREM BİLGİSİ</h5>
                            <div class="mb-3"><b>Url : </b>/api</div>
                            <p>
                                Türkiye'de gerçekleşen son 500 deprem bilgisini getirir.
                            </p>
                        </div>
                        <div class="resume-date text-md-right">
                            <span class="text-primary">Endpoint - 1</span>
                        </div>
                    </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">ÖRNEKLER</h2>

                <p>Bu Kısımda Bu Servis Kullanılarak Geliştirilmiş Örnek Uygulamalar Paylaşılacaktır. Eklenmesi planlanan örnekler bir web uygulaması ve bir mobil uygulamadır.</p>
                <br>
                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">ÖRNEK 01</h3>
                        <div class="subheading mb-3">TEST ÖRNEĞİ</div>
                        <div>ÖRNEK AÇIKLAMA YAZISI</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">OCAK 2020 - ŞUBAT 2020</span>
                    </div>
                </div>


            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-5">TEKNOLOJİLER</h2>

                <div class="subheading mb-3">PROGRAMLAMA DİLLERİ &amp; ARAÇLAR</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <i class="fab fa-html5"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-css3-alt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-js-square"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-angular"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-react"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-node-js"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-sass"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-less"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-wordpress"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-gulp"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-grunt"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-npm"></i>
                    </li>
                </ul>

                <div class="subheading mb-3">İŞ AKIŞI</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Mobile-First, Responsive Design</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Browser Testing &amp; Debugging</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Functional Teams</li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development &amp; Scrum</li>
                </ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">VERİ KAYNAĞI</h2>
                <p>
                    Veriler BOĞAZİÇİ ÜNİVERSİTESİ KANDİLLİ RASATHANESİ VE DEPREM ARAŞTIRMA ENSTİTÜSÜ internet sitesi üzerinden sağlanmaktadır.
                </p>
                <p class="mb-0">
                    Verilerin Orijinal İnternet Sitesi Adresi İçin : <a href="http://www.koeri.boun.edu.tr/scripts/lst0.asp">http://www.koeri.boun.edu.tr/scripts/lst0.asp</a>
                </p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
                <h2 class="mb-5">İLETİŞİM ADRESLERİ</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-user"></i>
                        <b>Geliştirici : </b>Berke Kurnaz
                    </li>

                    <li>
                    <li>
                        <i class="fa-li fa fa-user"></i>
                        <b>Github Adresi : </b>www.github.com/berkekurnaz
                    </li>
                    <li>
                        <i class="fa-li fa fa-user"></i>
                        <b>Mail Adresi : </b>contact@berkekurnaz.com
                    </li>
                </ul>
            </div>
        </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://blackrockdigital.github.io/startbootstrap-resume/js/resume.min.js"></script>

</body>

</html>